# This is a workflow to check the source code

name: Check the source code

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: Check the source code
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install packages
        run: npm i
      - name: Prettier
        run: npm run format
      - name: Lint
        run: npm run lint
